body {
  color: white;
  background-color: #333;
  font-size: .93rem;
  font-family: 'Roboto', sans-serif;
}

#is-top {
  margin-top: 80px
}

#search_form input {
  font-size: 1em;
  height: 50px;
  width: 75%;
}

#search_form {
  padding-bottom: 25px;
}

h1, h2 {
  margin-top: 70px;
  text-align: center;
}

.offset {
  margin-top: 35px;
}

.loader {
  font-size: 3em;
  margin-top:50px;
  text-align: center;
}

h3, #res_legend, #compare_legend, #map_legend, .center {
  text-align: center;
}

h4.upper {
  margin-top: -10px;
}

#snow path, #snow line {
  stroke: none;
}

.axis path,
.axis line {
  fill: none;
  padding: 5px;
  stroke: white;
  shape-rendering: crispEdges;
}

#snow path, #snow line {
  stroke: none;
}

.is-map path {
  fill: white;
  stroke: white;
  stroke-width: 1.5;
  fill-opacity: 0.2;
  stroke-opacity: 0.3;
}

h4.tip, h5.tip {
  font-size: .95rem
}

div.tooltips {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 5px;
  color: white;
  font-size: .81rem;
  background-color: rgba(0, 0, 0, .6);
  border: 1px solid lightgray;
  border-radius: 8px;
  pointer-events: none;
  z-index: 5;
}

#drought_map .tooltips {}

div.tooltips ul {
  list-style-type: none;
  padding: 1% 0 1% 3%;
}

.focus line {
  stroke: white;
  stroke-width: 2;
}

.map-circle {
  fill: steelblue;
  opacity: 0.7;
}

circle {
  stroke: lightgray;
  stroke-width: 0.25;
}

circle.swatch {
  fill: none;
  stroke: white;
  stroke-width: 2;
}

circle:hover {
  stroke-width: 1;
}

text {
  fill: white;
  font-size: 13px;
}

g.focus text {
  font-size: .8em;
}

a {
  color: white;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: white;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

#snow_graph {
  margin-top: 30px;
}

#drought_map g {
  pointer-events: all;
}

#drought_map circle {
  fill: none;
  stroke-width: 1.5
}

#drought_circle_legend circle {
  fill: none;
  stroke-width: 2.1;
}

.droughty {
  text-align: left;
  margin-bottom: 15px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: white;
  color: black
}

.dropdown-item.active:hover,
.dropdown-item:active:hover {
  background-color: #ccc;
  color: white
}

.dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:focus {
  outline: none;
}

[v-cloak] { display:none; }
